
.section{
  overflow: scroll;
  height: 820px;
  background-image: url(/img/1613307403_160-p-sinii-kiber-fon-227.jpg);
}

.text-tyle{
  color: white;
  font-weight: 800;
  font-size: 20px;
  color: yellow;
}

.form-box{
 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width:500px ;
  margin-left: 120px;
}

.js-news-item{
  padding: 5px;
  width: 360px;
  height: 500px;
  background-color: white;
  margin-bottom: 10px;
  position: relative;
  transition: 0.6s ease;
}

.bookmark-title-text{
  color: yellow;
}

.js-news-item:hover{
  transform: scale(1.02);

}

.bookmark-title-text{
  margin-left: 210px;
}

.card-url{
  display: block;
}

.card-img-but{
  width: 320px;
  height: auto;
  object-fit: cover;
}

.font-size{
  font-size: 20px;
}

.name-titlecontent-box{
  overflow: scroll;
  overflow-x: hidden;
  height: 420px;
  margin-bottom: 5px;
}

.modal-text-wrapper-box{
  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;
  height: 200px;
}

.bookmark-item{
  border: 1px solid yellow;
  border-radius: 8px;
  transition: 0.6s ease;
}

.bookmark-item:hover{
  
  transform: scale(0.97);
}

.btn-close{
  display: inline-block;
  margin-left: 450px;
}

.bookmark-delete{
  margin-left: 270px;
  border-radius: 4px;
  color: black;
  border: 1px solid yellow;
  background-color: yellow;
}

.bookmark-delete:hover{
  background-color: rgb(255, 191, 0);
}

.bookmark-wrapper-box{
  height: 520px;
  overflow: scroll;
  border: 1px solid yellow;
  border-radius: 8px;
}

.js-news-list{
  width: 750px;
}


 
  @media only screen and (max-width:1200px) {
    .bookmark-wrapper-box{
      display: none;
    }
    
    .bookmark-title-text-box{
      display: none;
    }
  }

  @media only screen and (max-width:800px) {
    
    .news-list-wrapper-box{
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
    }
    
    .js-news-list{
      flex-direction: column;
      width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media only screen and (max-width:767px) {
    .form-box{
      margin-right: auto;
      margin-left: auto;
    }
  }

  @media only screen and (max-width:575px) {
    .form-box{
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }
  }


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  box-shadow: inset 0 0 10px rgba(106, 137, 210, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #80a3d7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9e9e9e;
}